# Immigrants in CA - JTF
#### A repo containing the code and data to reproduce the numbers in PPIC's Immigrants in CA JTF

<details>
    <summary><strong>Goal</strong></summary>
    The goal of this notebook is to reproduce the numbers of bullet 4 in the Immigrants in CA JTF. 
</details>

<details>
    <summary><strong>Context</strong></summary>
    We've downloaded raw data from <strong><i>ipums.org</i></strong>.
</details>

***
### Set up working environment

In [1]:
import pandas as pd
import gzip
from pathlib import Path
from tools import tree
from datetime import datetime as dt
today = dt.today().strftime("%d-%b-%y")

today

'08-Jan-20'

In [2]:
RAW_DATA = Path("../data/raw/")
INTERIM_DATA = Path("../data/interim/")
PROCESSED_DATA = Path("../data/processed/")
FINAL_DATA = Path("../data/final/")

In [3]:
tree(RAW_DATA)

+ ..\data\raw
    + usa_00066.dta.gz
    + usa_00067.dta.gz
    + usa_00068.dta.gz
    + usa_00069.dta.gz
    + usa_00070.dta.gz

***
### Loading the data to `pandas`. 

**Must use `gzip` to read gzipped stata file. This is not the case of csv's but stata files maintain _categoricals_.**

In [4]:
with gzip.open(RAW_DATA / 'usa_00070.dta.gz', 'r') as file:
    data = pd.read_stata(file)

In [5]:
data.head()

,year,sample,serial,cbserial,hhwt,cluster,statefip,strata,gq,pernum,perwt,age,bpl,bpld,citizen,yrsusa2,migplac1
0,2006,2006 acs,65923,2.0,65,2.006001e+12,california,541606,households under 1970 definition,1,65,37,california,california,n/a,n/a,n/a
1,2006,2006 acs,65923,2.0,65,2.006001e+12,california,541606,households under 1970 definition,2,72,9,california,california,n/a,n/a,n/a
2,2006,2006 acs,65923,2.0,65,2.006001e+12,california,541606,households under 1970 definition,3,71,6,california,california,n/a,n/a,n/a
3,2006,2006 acs,65923,2.0,65,2.006001e+12,california,541606,households under 1970 definition,4,67,36,california,california,n/a,n/a,n/a
4,2006,2006 acs,65924,16.0,59,2.006001e+12,california,811506,households under 1970 definition,1,60,49,minnesota,minnesota,n/a,n/a,n/a

***
### Subsetting only the year of interest.

**Note: `year` is still a categorical variable so we must use strings to filter on it.**

In [6]:
data['year'].cat.categories

Index(['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018'],
      dtype='object')

In [7]:
working_data = data[data['year'] == '2016'].copy()

There are too many categories to use `data['bpld'].cat.categories` so we print them all out, in order, to choose the cut off points for our filters later on.

In [8]:
for index,category in enumerate(working_data['bpld'].cat.categories, start = 1):
    print(f"{index}.\t{category}")

1.	alabama
2.	alaska
3.	arizona
4.	arkansas
5.	california
6.	colorado
7.	connecticut
8.	delaware
9.	district of columbia
10.	florida
11.	georgia
12.	hawaii
13.	idaho
14.	illinois
15.	indiana
16.	iowa
17.	kansas
18.	kentucky
19.	louisiana
20.	maine
21.	maryland
22.	massachusetts
23.	michigan
24.	minnesota
25.	mississippi
26.	missouri
27.	montana
28.	nebraska
29.	nevada
30.	new hampshire
31.	new jersey
32.	new mexico
33.	new york
34.	north carolina
35.	north dakota
36.	ohio
37.	oklahoma
38.	oregon
39.	pennsylvania
40.	rhode island
41.	south carolina
42.	south dakota
43.	tennessee
44.	texas
45.	utah
46.	vermont
47.	virginia
48.	washington
49.	west virginia
50.	wisconsin
51.	wyoming
52.	american samoa
53.	samoa, 1940-1950
54.	guam
55.	puerto rico
56.	u.s. virgin islands
57.	canada
58.	bermuda
59.	cape verde
60.	mexico
61.	belize/british honduras
62.	costa rica
63.	el salvador
64.	guatemala
65.	honduras
66.	nicaragua
67.	panama
68.	cuba
69.	dominican republic
70.	haiti
71.	jamaica
72.	antigua-barbuda
73.	bahamas
74.	barbados
75.	dominica
76.	grenada
77.	st. lucia
78.	st. vincent
79.	trinidad and tobago
80.	caribbean, ns
81.	west indies, ns
82.	americas, ns
83.	argentina
84.	bolivia
85.	brazil
86.	chile
87.	colombia
88.	ecuador
89.	guyana/british guiana
90.	paraguay
91.	peru
92.	uruguay
93.	venezuela
94.	south america, ns
95.	denmark
96.	finland
97.	iceland
98.	norway
99.	sweden
100.	england
101.	scotland
102.	united kingdom, ns
103.	ireland
104.	northern ireland
105.	belgium
106.	france
107.	netherlands
108.	switzerland
109.	albania
110.	greece
111.	macedonia
112.	italy
113.	portugal
114.	azores
115.	spain
116.	austria
117.	bulgaria
118.	czechoslovakia
119.	slovakia
120.	czech republic
121.	germany
122.	hungary
123.	poland
124.	romania
125.	yugoslavia
126.	croatia
127.	montenegro
128.	serbia
129.	bosnia
130.	estonia
131.	latvia
132.	lithuania
133.	other ussr/russia
134.	byelorussia
135.	moldavia
136.	ukraine
137.	armenia
138.	azerbaijan
139.	republic of georgia
140.	kazakhstan
141.	kirghizia
142.	uzbekistan
143.	ussr, ns
144.	europe, ns
145.	china
146.	hong kong
147.	mongolia
148.	taiwan
149.	japan
150.	korea
151.	east asia, ns
152.	cambodia (kampuchea)
153.	indonesia
154.	laos
155.	malaysia
156.	philippines
157.	singapore
158.	thailand
159.	vietnam
160.	afghanistan
161.	india
162.	bangladesh
163.	bhutan
164.	burma (myanmar)
165.	pakistan
166.	sri lanka (ceylon)
167.	iran
168.	nepal
169.	cyprus
170.	iraq
171.	israel/palestine
172.	jordan
173.	kuwait
174.	lebanon
175.	saudi arabia
176.	syria
177.	turkey
178.	united arab emirates
179.	yemen arab republic (north)
180.	asia, nec/ns
181.	algeria
182.	egypt/united arab rep
183.	libya
184.	morocco
185.	sudan
186.	tunisia
187.	north africa, ns
188.	gambia
189.	ghana
190.	guinea
191.	ivory coast
192.	liberia
193.	nigeria
194.	senegal
195.	sierra leone
196.	togo
197.	western africa, ns
198.	ethiopia
199.	kenya
200.	rwanda
201.	somalia
202.	tanzania
203.	uganda
204.	zambia
205.	zimbabwe
206.	eastern africa, nec/ns
207.	eritrea
208.	cameroon
209.	congo
210.	zaire
211.	south africa (union of)
212.	africa, ns/nec
213.	australia
214.	new zealand
215.	fiji
216.	tonga
217.	marshall islands
218.	micronesia
219.	northern mariana islands
220.	other n.e.c

### Filters

In [9]:
mask_state = working_data['statefip'] == 'california'
mask_5years = working_data['yrsusa2'] == "0-5 years"
mask_latam = (working_data['bpld'] >= 'mexico') & (working_data['bpld'] <= 'south america, ns')
mask_asia = (working_data['bpld'] >= 'china') & (working_data['bpld'] <= 'asia, nec/ns')

Subsetting the dataset to only California and those _recently arrived_ (0-5 years).

In [10]:
california = working_data[mask_state & mask_5years].copy()

New column: `place of origin` - aggregation of `bpld`.

In [11]:
california.loc[mask_latam, 'place of origin'] = 'Latin America'
california.loc[mask_asia, 'place of origin'] = 'Asia'
california['place of origin'].fillna('Other', inplace = True)

In [12]:
place_of_origin_shares = california.groupby(['place of origin']).agg({'perwt': 'sum'}).apply(lambda x: x / x.sum()).style.format("{:.0%}")

In [13]:
place_of_origin_shares

[**Other notebook**](00_newly_arrivals_chart.ipynb)